body {
       /*this is the i want the main body to look 
        like and positioned */
    background-color: lightskyblue;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    height: 100vh;  
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
    
}
h3 {
    color: white;
    text-align: center;
}
    

p { 
    /*how the text on the paragraph tag would 
    look like */
    color: white;
    font-family: verdana;
   font-size: 20px;
    text-align: right side;
}

a { 
    /*how the text will display on the navigation bar*/
    font-size: 14px;
    text-transform: uppercase;
}

img {
     /*how the image was display*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    
}

b {
    color: red;
    text-align: right;
    font-size: 20px;
    
}
form {
    background-color: white;
        font
}

video {
       display: block;
       margin-left: auto;
       margin-right: auto;
       width: 75%;
}
